# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# If your configuration includes a .env file, you should exclude it to avoid exposing sensitive information.
.env

# Flask specific
instance/
.webassets-cache

# Scrapy specific
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env
.env.*

# virtualenv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Environments
# .env/
# .venv/
# env/
# venv/
# ENV/
# env.bak/
# venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.toptal.com/developers/gitignore/api/python,virtualenv,django,windows,macos,linux
